body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    margin: 0px;
    background-color: rgb(255,255,255);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

h2 {
    margin: 0px;
    color: #f9faf8;
    font-size: 24px;
}

p {
    margin: 0px;
}

/* header */

.header-intro {
    background-color: #1f2937;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    margin-bottom: 100px;
}

.right-links {
    display: flex;
    gap: 24px;
}

.left-intro button {
    background-color: #3882f6;
    padding: 6px 32px;
    border-radius: 8px;
    border: 0px;
    color: white;
    font-weight: 900;
    font-size: 18px;
    width: 134px;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    padding: 16px 200px;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 100px;
    gap: 20px;
}

.left-intro {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 1 auto;
}

.right-intro img {
    width: 372px;
    height: 235px;
    border-radius: 8px;
}

/* info */

.info {
    padding: 50px 200px;
}

.info p {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937
}

.pictures {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.pictures img {
    border-radius: 8px;
    border-style: solid;
    border-color: #3882f6;
    border-width: 2px;
    height: 180px;
    width: 180px;
}

.pictext {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    width: 184px;
}

/* quote */

.quote-name {
    padding: 50px 250px;
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote {   
    font-size: 36px;
    font-style: italic;
}

.name {
    font-weight: 700;
    text-align: end;
}

/* cta */

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 150px;
    padding: 50px 100px;
    border-radius: 8px;
    background-color: #3882f6;
    color: #e5e7eb;
}

.cta button {
    background-color: #3882f6;
    padding: 6px 32px;
    border-radius: 8px;
    border: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    font-weight: 900;
    font-size: 18px;
    width: 138px;
}

/* footer */

.footer {
    background-color: #1f2937;
    color: #e5e7eb;   
    text-align: center;
    justify-items: center;
    padding: 40px;
}