body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

h2 {
    margin: 0px;
    color: #f9faf8;
    font-size: 24px;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.header-intro {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    margin-bottom: 100px;
}

button {
    background-color: #3882f6;
    padding: 6px 32px;
    border-radius: 8px;
    border: 0px;
    color: white;
    font-weight: 900;
    font-size: 18px;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 100px;
}

.left-intro {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.right-intro img {
    width: 300px;
}

.quote {
    background-color: #e5e7eb;

}

.footer {
    background-color: #1f2937;
}